.contenedor-termino {
    position: relative;
	background-color: white;
	width: 656px;
}

.arriba {
	margin-bottom: 10px;
}

.medio {
	 min-height:630px;
}

.medio-izquierda {
	float: left;
	width: 347px;
}

.medio-derecha {
	float: left;
	width: 309px;
}

.clear-float {
	clear: both;
}

.abajo {
	margin-bottom: 10px;
	margin-top: 10px;
}
