
/**
 * Based on the default jCarousel tango skin. Adapted for use with the Mini
 * Panels module by Wim Leers. GPL icons created by Kaj Heijmans.
 */

.jcarousel-skin-fotografia {
	background-color: #393838;
}

.jcarousel-skin-fotografia .jcarousel-container {
	margin-left: auto;
}

.jcarousel-skin-fotografia .jcarousel-container-horizontal {
	width: 384px;
	height: 83px;
	padding: 5px 4px;
}

.jcarousel-skin-fotografia .jcarousel-container-vertical {
	width: 100px;
	height: 95px;
	padding: 40px 20px;
}

.jcarousel-skin-fotografia .jcarousel-clip-horizontal {
	width: 384px;
}

.jcarousel-skin-fotografia .jcarousel-clip-vertical {
	height: 95px;
}

.jcarousel-skin-fotografia .jcarousel-item {
  padding: 0;
  width: 122px;
  height: 83px;
  overflow: hidden;
  list-style: none;
  background: #fff none;
}

.jcarousel-skin-fotografia .jcarousel-item-horizontal {
	margin: 0 3px;
}

.jcarousel-skin-fotografia .jcarousel-item-vertical {
  margin: 4px 0;
}

.jcarousel-skin-fotografia .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-fotografia .jcarousel-next,
.jcarousel-skin-fotografia .jcarousel-prev {
	display: block;
	width: 20px;
	height: 38px;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-fotografia .jcarousel-prev-horizontal {
	background: url("background-fotografia-prev.png") no-repeat;
	position: absolute;
	top: 30px;
	left: 5px;
}
.jcarousel-skin-fotografia .jcarousel-prev-horizontal:hover {
}
.jcarousel-skin-fotografia .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-fotografia .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-fotografia .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-fotografia .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
}

.jcarousel-skin-fotografia .jcarousel-next-horizontal {
	background: url("background-fotografia-next.png") no-repeat;
	position: absolute;
	top: 30px;
	right: 0px;
}
.jcarousel-skin-fotografia .jcarousel-next-horizontal:hover {
}
.jcarousel-skin-fotografia .jcarousel-next-horizontal:active {
}
.jcarousel-skin-fotografia .jcarousel-next-disabled-horizontal,
.jcarousel-skin-fotografia .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-fotografia .jcarousel-next-disabled-horizontal:active {
  cursor: default;
}

/**
 *  Vertical Buttons
 */
.jcarousel-skin-fotografia .jcarousel-prev-vertical {
  position: absolute;
  top: 5px;
  left: 55px;
  background-position: 0 -64px;
}
.jcarousel-skin-fotografia .jcarousel-prev-vertical:hover {
  background-position: -32px -64px;
}
.jcarousel-skin-fotografia .jcarousel-prev-vertical:active {
  background-position: -64px -64px;
}
.jcarousel-skin-fotografia .jcarousel-prev-disabled-vertical,
.jcarousel-skin-fotografia .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-fotografia .jcarousel-prev-disabled-vertical:active {
  cursor: default;
  background-position: -96px -64px;
}

.jcarousel-skin-fotografia .jcarousel-next-vertical {
  position: absolute;
  bottom: 5px;
  left: 55px;
  background-position: 0 -96px;
}
.jcarousel-skin-fotografia .jcarousel-next-vertical:hover {
  background-position: -32px -96px;
}
.jcarousel-skin-fotografia .jcarousel-next-vertical:active {
  background-position: -64px -96px;
}
.jcarousel-skin-fotografia .jcarousel-next-disabled-vertical,
.jcarousel-skin-fotografia .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-fotografia .jcarousel-next-disabled-vertical:active {
  cursor: default;
  background-position: -96px -96px;
}

