
/**
 * Based on the default jCarousel tango skin. Adapted for use with the Mini
 * Panels module by Wim Leers. GPL icons created by Kaj Heijmans.
 */

.jcarousel-skin-fotografia {
	background: url("/sites/all/themes/avn/images/background-carrusel.png") repeat-y;
	padding: 10px 0 0 0;
	width: 980px;
}

.jcarousel-skin-fotografia .jcarousel-container {
}

.jcarousel-skin-fotografia .jcarousel-container-horizontal {
	width: 920px;
	height: 240px;
	padding: 0 30px;
	background: url("/sites/all/themes/avn/images/background-foot-video.png") 0 bottom no-repeat;
}

.jcarousel-skin-fotografia .jcarousel-container-horizontal ul {
	width: 3680px !important;
}

.jcarousel-skin-fotografia .jcarousel-clip-horizontal {
	width: 920px;
}

.jcarousel-skin-fotografia .jcarousel-item {
  padding: 0;
  width: 200px;
  height: 210px;
  overflow: hidden;
  list-style: none;
}

.jcarousel-skin-fotografia .jcarousel-item-horizontal {
	margin: 0 15px;
}

.jcarousel-skin-fotografia .jcarousel-item-placeholder {
  background: #fff url(throbber.gif) no-repeat center center;
  color: #000;
}

/**
 * Buttons
 */
.jcarousel-skin-fotografia .jcarousel-next,
.jcarousel-skin-fotografia .jcarousel-prev {
	display: block;
	width: 14px;
	height: 24px;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-fotografia .jcarousel-prev-horizontal {
	background: url("background-fotografia-prev.png") no-repeat;
	position: absolute;
	top: 85px;
	left: 10px;
}
.jcarousel-skin-fotografia .jcarousel-prev-horizontal:hover {
}
.jcarousel-skin-fotografia .jcarousel-prev-horizontal:active {
}
.jcarousel-skin-fotografia .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-fotografia .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-fotografia .jcarousel-prev-disabled-horizontal:active {
  cursor: default;
}

.jcarousel-skin-fotografia .jcarousel-next-horizontal {
	background: url("background-fotografia-next.png") no-repeat;
	position: absolute;
	top: 85px;
	right: 10px;
}
.jcarousel-skin-fotografia .jcarousel-next-horizontal:hover {
}
.jcarousel-skin-fotografia .jcarousel-next-horizontal:active {
}
.jcarousel-skin-fotografia .jcarousel-next-disabled-horizontal,
.jcarousel-skin-fotografia .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-fotografia .jcarousel-next-disabled-horizontal:active {
  cursor: default;
}
