/*
 * Accordionza jQuery Plugin
 * Copyright 2010, Geert De Deckere <geert@idoe.be>
 */

#accordion3 {
	height:40px;
	list-style:none;
	margin:0;
	overflow:scroll;
	padding:0;
	width:840px;
}
#accordion3 li {
	height:40px; /* Needed in case javascript is disabled */
	background:url(images/slide.png);
	position:relative;
}
#accordion3 .slide2 { background-position:0 -40px; }
#accordion3 .slide3 { background-position:0 -80px; }
#accordion3 .slide4 { background-position:0 -120px; }
#accordion3 .slide_handle {
	color:#fff;
	cursor:default;
	font-size:14px;
	height:32px;
	left:0;
	padding:8px 0 0;
	position:absolute;
	text-align:center;
	text-shadow:0 1px 0 rgba(0,0,0,0.5);
	top:0;
	width:80px;
}
#accordion3 .slide_content {
	color:#666;
	left:100px;
	padding:10px 0 0;
	position:absolute;
	top:0;
}
#accordion3 p { margin:0; }
#accordion3 a {
	background:#2bacbc;
	color:#fff;
	padding:0 2px;
	text-decoration:none;
	text-shadow:none;
}
#accordion3 a:hover { opacity:0.8; }
#accordion3 .slide2 a { background:#7bbc2b; }
#accordion3 .slide3 a { background:#cec319; }
#accordion3 .slide4 a { background:#bc3b2b; }
