/* Animated throbber */
html.js .block-refresh-button {
  background-image: url('throbber.gif');
  background-repeat: no-repeat;
  background-position: 100% 2px;
  height: 18px;
  float: right;
  cursor: pointer;
}

html.js .block-refresh-button a {
  margin-right: 18px;
}

html.js .block-refresh-button-throbbing {
  background-position: 100% -18px;
}

html.js .block-refresh-hidden {
  display: none;
}